<div id="deliveryOrderContainer" data-bind="foreach: deliverys">
    <div class="pin">
        <div class="holder" style="margin-bottom:15px;">

            <a href='#' data-bind='click: $parent.view'>
                <table class="ordertable" style="margin:2px; " border="1">
                    <tr>
                        <th>Order No</th>
                        <th><span data-bind="text: Id"></span></th>
                    </tr>
                    <tr>
                        <td>Contact</td>
                        <td><span data-bind="text: FirstName"></span> <span data-bind="text: LastName"></span></td>
                    </tr>
                    <tr>
                        <td>Mobile</td>
                        <td><span data-bind="text: Mobile"></span></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><span data-bind="text: Status"></span></td>
                    </tr>                   
                    <tr>
                        <td>Address</td>
                        <td><span data-bind="text: Address"></span></td>
                    </tr>
                    <tr>
                        <td>Distance</td>
                        <td><span data-bind="text: Distance"></span></td>
                    </tr>
                    <tr>
                        <td>Duration</td>
                        <td><span data-bind="text: Duration"></span></td>
                    </tr>
                    <tr>
                        <td>Expected Time</td>
                        <td><span data-bind="text: Time"></span></td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td><span data-bind="text: CreatedOn"></span></td>
                    </tr>

                </table>
            </a>

            <ul style="margin-left:2px; float:left; margin-top :5px" class="uibutton-group">
                <li><span class="etip"><a class="uibutton icon add normal" title="Add Order" data-bind='click: $parent.view'>Order</a></span></li>
                <li><span class="etip"><a class="uibutton icon edit normal" title="Edit Delivery" data-bind='click: $parent.edit'>Edit</a></span></li>
                <li><span class="etip"><a class="uibutton icon prev normal" title="Cancel Delivery" data-bind='click: $parent.cancel'>Cancel</a></span></li>
                <li><span class="etip"><a class="uibutton icon next normal" title="Completed" data-bind='click: $parent.completed'>Completed</a></span></li>
            </ul>

            <span data-bind="value:Id" style="display:none"></span>
            <span data-bind="value:StatusId" style="display:none"></span>
            <span data-bind="value:Payment" style="display:none"></span>     
            <span data-bind="value:index" style="display:none"></span>
            <span data-bind="value:DeliveryCost" style="display:none"></span>

        </div>
    </div>
</div>