<div id="reservationContainer" data-bind="foreach: reservations">
    <div class="pin">
        <div class="holder" style="margin-bottom:15px;">

            <a href='#' data-bind='click: $parent.view'>
                <table class="ordertable" style="margin:2px; " border="1">
                    <tr>
                        <th>Order No</th>
                        <th><span data-bind="text: Id"></span></th>
                    </tr>
                    <tr>
                        <td>Table</td>
                        <td><span data-bind="text: Table"></span></td>
                    </tr>
                    <tr>
                        <td>Time In</td>
                        <td><span data-bind="text: Time"></span></td>
                    </tr>
                    <tr>
                        <td>Expected Guest</td>
                        <td><span data-bind="text: NumberOfGuest"></span></td>
                    </tr>
                    <tr>
                        <td>Contact</td>
                        <td><span data-bind="text: FirstName"></span> <span data-bind="text: LastName"></span></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><span data-bind="text: Status"></span></td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td><span data-bind="text: CreatedOn"></span></td>
                    </tr>

                </table>
            </a>

            <ul style="margin-left:2px; float:left; margin-top :5px" class="uibutton-group">
                <li><span class="etip"><a class="uibutton icon next normal" title="Convert to Dine In" data-bind='click: $parent.dineIn'>Dine In</a></span></li>             
                <li><span class="etip"><a class="uibutton icon add normal" title="Add Order" data-bind='click: $parent.view'>Order</a></span></li>
                <li><span class="etip"><a class="uibutton icon edit normal" title="Edit Reservation" data-bind='click: $parent.edit'>Edit</a></span></li>
                <li><span class="etip"><a class="uibutton icon prev normal" title="Cancel reservation" data-bind='click: $parent.cancel'>Cancel</a></span></li>
            </ul>

            <span data-bind="value:Id" style="display:none"></span>
            <span data-bind="value:StatusId" style="display:none"></span>
            <span data-bind="value:Payment" style="display:none"></span>
            <span data-bind="value:TableId" style="display:none"></span>
            <span data-bind="value:index" style="display:none"></span>

        </div>
    </div>
</div>