<table id="tblDelivery" class="display" style="width:100%">
    <thead>
        <tr>
            <th align="left"></th>
            <th align="left">Date</th>
            <th align="left">Time</th>
            <th align="left">Names</th>
            <th align="left">Mobile</th>
            <th align="left">Status</th>
            <th align="left">Total</th>
            <th align="left">Tax</th>
            <th align="left">Discount</th>
            <th align="left">Grand Total </th>
            <th align="left">Balance </th>
            <th class="align-center">Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="hide">
    <span id="loadDeliveryUrl" name="loadDeliveryUrl" data-loadDeliveryUrl="@Url.Action("fetch", "delivery")"></span>
    <span id="editDeliveryUrl" name="editDeliveryUrl" data-editDeliveryUrl="@Url.Action("edit", "delivery")"></span>
    <span id="cartDeliveryUrl" name="cartDeliveryUrl" data-cartDeliveryUrl="@Url.Action("entry", "cart")"></span>
    <span id="deleteDeliveryUrl" name="deleteDeliveryUrl" data-deleteDeliveryUrl="@Url.Action("delete", "delivery")"></span>
</div>




