@using Suftnet.Cos.Extension;

@Html.Partial("_collapsibleMenu")

<div id="header">
    <div id="account_info">
        <a id="toggle_menu" href="javascrip:void(0)" style="float:left; margin-left :0px; margin-top : 10px;"><img src="@Url.Content("~/Content/zice-onechurch/images/icon/color_18/menu.png")" /></a>
        <div class="tooltip" title="Welcome"><b>Welcome </b> <b class="red">@Url.CurrentUserName()</b></div>        
        <div class="Disconnect tooltip" title="Logout"><b><a href="@Url.LogoutHref()">Logout</a></b></div>
    </div>
</div>




