
<div class="hide01">
    <span id="smallbg" name="smallbg" data-smallbg="@Url.Content("~/Content/zice-onechurch/images/menu_small_bg.jpg")"></span>
    <span id="bigbg" name="bigbg" data-bigbg="@Url.Content("~/Content/zice-onechurch/images/menu_bg.jpg")"></span>
</div>

@Scripts.Render("~/bundle/110000")

<script type="text/javascript">

    menu.init();

</script>
