

<form action="@Url.Action("ResetPassword", "User")" method="post" id="formResetPassword">

    <div class="forms">

        <input type="hidden" name="UserId" id="UserId" />

        <div class="grid-12-12">
            <label class="forms-lbl">New Password: </label>
            <input type="text" name="Password" id="Password" class="forms-txt validate[required],maxSize[20],minSize[6]]" size="40" maxlength="20" />
        </div>

    </div>

    <ul style="margin-left:5px; margin-top :5px" class="uibutton-group">
        <li><span class="etip"><a class="uibutton icon add normal " id="btnSaveResetPassword" title="Save Changes">Save Changes</a></span></li>
        <li><span class="etip"><a class="uibutton icon prev normal" id="btnCloseSaveResetPassword" title="">Close</a></span></li>
    </ul>

</form>

<script type="text/javascript">

    $(function () {

        $("#btnCloseSaveResetPassword").on("click", function (event) {

            event.stopImmediatePropagation();

            iuHelper.resetForm("#formResetPassword");

            $("#ResetPasswordDialog").dialog("close");
        });

        $("#btnSaveResetPassword").bind("click", function (event) {

            event.preventDefault();
            event.stopImmediatePropagation();

            if (!suftnet_validation.isValid("formResetPassword")) {
                return false;
            }

            js.ajaxPost($("#formResetPassword").attr("action"), $("#formResetPassword").serialize()).then(
           function (data) {

               if (data != null) {

                   setTimeout("showSuccess('Success',5000);", 1000);

                   iuHelper.resetForm("#formResetPassword");

                   $("#ResetPasswordDialog").dialog("close");
               }

           });
        });
    });

</script>