@model Suftnet.Cos.DataAccess.TopicDto

<li class="entry entry--left">
    <div class="demo-card demo-card--step1">
        <div class="head">
            <div class="number-box">
                <span>01</span>
            </div>
            <h2> @Model.Topic</h2>
        </div>
        <div class="body">         
            <div class="video-block"> <a class="play-btn video" href="@Model.VideoUrl"><span class="icon-play-btn"></span></a> <figure><img src="https://img.youtube.com/vi/@Model.VideoId/hqdefault.jpg"  class="img-fluid" alt=""></figure> </div>
        </div>
    </div>
</li>

