@using Suftnet.Cos.Extension

<section class="section">
    <div class="container">
        <div class="row gap-y">
            <div class="col-md-6 col-lg-4">
                <div class="card card-blog shadow-box shadow-hover border-0">
                    <a href="blog-post.html"><img class="card-img-top img-responsive" src="@Url.Content("~/Content/frontoffice-2/img/irit/tablet.png")" alt=""></a>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="author d-flex align-items-center">                               
                                <p class="small bold my-0">Tablet</p>
                            </div>    
                        </div>
                        <hr>       
                        <p class="card-text text-secondary">Irit is compatible with most android tablets with version 4.1.1+ <br /><strong> Recommendation</strong><br />Samsung, Google, Xiaomi, Huawei  </p>                    
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card card-blog shadow-box shadow-hover border-0">
                    <a href="blog-post.html"><img class="card-img-top img-responsive" src="@Url.Content("~/Content/frontoffice-2/img/irit/phone.jpg")" alt=""></a>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="author d-flex align-items-center">
                                <p class="small bold my-0">Phone</p>
                            </div>
                        </div>
                        <hr>
                        <p class="card-text text-secondary">Irit is compatible with most android phones with version 4.1.1+ <br /><strong> Recommendation</strong><br />Samsung, Google, Xiaomi, Huawei  </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card card-blog shadow-box shadow-hover border-0">
                    <a href="blog-post.html"><img class="card-img-top img-responsive" src="@Url.Content("~/Content/frontoffice-2/img/irit/printer.jpg")" alt=""></a>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="author d-flex align-items-center">
                                <p class="small bold my-0">Printer</p>
                            </div>
                        </div>
                        <hr>
                        <p class="card-text text-secondary">Irit is compatible with most android printer <br /><strong> Recommendation</strong><br />MUNBYN 80MM Bluetooth thermal receipt printers  </p>                 
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card card-blog shadow-box shadow-hover border-0">
                    <a href="blog-post.html"><img class="card-img-top img-responsive" src="@Url.Content("~/Content/frontoffice-2/img/irit/scanner.jpg")" alt=""></a>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="author d-flex align-items-center">
                                <p class="small bold my-0">Scanner</p>
                            </div>
                        </div>
                        <hr>
                        <p class="card-text text-secondary">Irit is compatible with most handheld scanner <br /><strong> Recommendation</strong><br />NT-1228BC Bluetooth, NETUM Handheld  </p>
                    </div>
                </div>
            </div>            
        </div>
     </div>
</section>
