<div class="forms">

    <div class="grid-6-12">
        <label class="forms-lbl">Stripe PublishableKey: </label>
        <input type="text" name="StripePublishableKey" id="StripePublishableKey" class="forms-txt" maxlength="200" />
    </div>

    <div class="grid-6-12">
        <label class="forms-lbl">Stripe SecretKey: </label>
        <input type="text" name="StripeSecretKey" id="StripeSecretKey" class="forms-txt" maxlength="200" />
    </div>  

</div>

