@using Suftnet.Cos.Extension
@{
    ViewBag.Title = "SUFTNET | LOOKUP ";
}

<ul style="margin-left:0px; margin-top :5px" class="uibutton-group">
    <li><span class="etip"><a href="@Url.Action("Switch", "lookup", new { area ="BackOffice", sectionId = this.ViewContext.RouteData.Values["sectionId"].ToString() })" class="uibutton icon prev normal tooltip" title="Back">Back</a></span></li>
</ul>

<div class="widgets" style="display:none">

    <div class="twoOne">
        <div class="widget">
            <div class="header"><span><span class="ico  gray help2 tooltip" title="List of Event type. To add a new event type, use the form at the right.<br>
                                            To edit select the row by clicking the pencil icon, the selected row will show in edit mode, modify and click the save changes button."></span>@this.ViewContext.ToTitle(this.ViewContext.RouteData.Values["settingId"].ToString()) </span></div>
            <div class="content">
                <div class="tableName">
                    @Html.Partial("_load")
                </div>
            </div>
        </div>
    </div>

    <div class="oneThree">
        <div class="widget">
            <div class="header"><span><span class="ico  gray help2 tooltip" title="To add new event type, fill in the fields and click the savechanges button.<br>
                                            To edit event type, select the row from the event type list, the row will show in edit mode, modify the fields and click the savechanges button."></span></span></div>
            <div class="content">
                @Html.Partial("_form")
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $(function () {

        common.pageInit();

        setTimeout(function () {
            $(".widgets").show();
        }, 0);

    });
</script>





