
<table id="tblPermission" class="display" style="width:100%" >
    <thead>
        <tr>
            <th align="left">Date</th>
            <th align="left">Page</th>
            <th align="left">Create</th>
            <th align="left">Edit</th>
            <th align="left">Delete</th>
            <th align="left">Read</th>
            <th align="left">Read All</th>
            <th class="align-center">Actions</th>
        </tr>
    </thead>
<tbody>

</tbody>
</table> 

<div class="hide">
    <span id="loadUrl" name="loadUrl" data-loadUrl="@Url.Action("fetch", "Permission",new { Id = ViewContext.RouteData.Values["queryString"].ToString() })"></span>  >
    <span id="editUrl" name="editUrl" data-editUrl="@Url.Action("edit", "Permission")"></span>
    <span id="createUrl" name="createUrl" data-createUrl="@Url.Action("create", "Permission")"></span>
    <span id="deleteUrl" name="deleteUrl" data-deleteUrl="@Url.Action("Delete", "Permission")"></span>
</div>





