
@{
    ViewBag.Title = "SUFTNET | MENU ADDON";  
}

<ul style="margin-left:0px; margin-top :5px" class="uibutton-group">
    <li><span class="etip"><a href="@Url.Action("Index", "Menu")" class="uibutton icon prev normal " title="Back to Addon">Back</a></span></li>
    <li><span class="etip"><a href="@Url.Action("entry", "addonType", new { menuId = this.ViewContext.RouteData.Values["menuId"].ToString() })" class="uibutton icon add normal " title="Add Addon Type">Addon Type</a></span></li>
</ul>

<div class="widgets" style="display:none ">

    <div class="twoOne">
        <div class="widget">
            <div class="header"><span><span class="ico  gray random"></span><span id="menuTitle" class="marginTop11"></span> </span></div>
            <div class="content">
                <div class="tableName">
                    @Html.Partial("_load")
                </div>
            </div>
        </div>
    </div>

    <div class="oneThree">
        <div class="widget">
            <div class="header"><span><span class="ico gray window"></span></span></div>
            <div class="content">
                @Html.Partial("_form")
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {

        setTimeout(function () {
            $(".widgets").show();
        }, 0);

    });
</script>



