
@{
    ViewBag.Title = "SUFTNET | NOTIFICATION"; 
}

<ul class="tabs">
    <li><a href="#tab1">Notification </a></li>
    <li><a href="#tab2">Notification Viewer </a></li>  
</ul>

<div class="tab_container">

    <div id="tab1" class="tab_content">
          @Html.Partial("_form")
    </div>

    <div id="tab2" class="tab_content">
        <div class="widgets">
            <div class="widget">
                <div class="header"><span><span class="ico  gray random"></span> </span></div>
                <div class="content">
                    <div class="tableName">
                        @Html.Partial("_load")
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

@Html.Partial("_tinymce")

