@using Suftnet.Cos.Extension

<div>
    <div style="width: 60%; float:left">
        <form action="@Url.Action("create", "cart")" method="post" id="paymentform">
            <div class="forms">

                <div class="grid-6-12">
                    <label class="forms-lbl">Amount Payable:</label>
                    <input style="background-color :Black; color :Red; font-weight:bold; font-size:20px;" class="forms-txt" maxlength="9" data-bind='value: computeBalance' />
                </div>

                <div class="grid-6-12">
                    <label class="forms-lbl">Payment Method: </label>
                    <select class="validate[required]" data-bind="options: paymentMethods, optionsText:'Title',  optionsValue:'PaymentMethodId', value :selectedPaymentMethod"></select>
                </div>

                <div class="clear"></div>

                <div class="grid-6-12">
                    <label class="forms-lbl">Tax: </label>
                    @Html.TaxDropdown("TaxId", "")
                </div>

                <div class="grid-6-12">
                    <label class="forms-lbl">Discount: </label>
                    @Html.DiscountDropdown("DiscountId", "")
                </div>

                <div class="clear"></div>

                <div class="grid-6-12">
                    <label class="forms-lbl">Amount: <span style="font-weight:bold; font-size:20px;" data-bind='text: payment'></span> </label>
                    <input data-bind='value: amountPaid, valueUpdate: "afterkeydown"' onkeyup="numonly(this);" class="forms-txt validate[required]" maxlength="9" />
                </div>

                <div class="grid-6-12">
                    <label class="forms-lbl">Change:</label>
                    <input data-bind='value: change' onkeyup="numonly(this);" class="forms-txt" maxlength="9" />
                </div>

                <div class="clear"></div>

                <div class="grid-6-12">
                    <label class="forms-lbl">Status: </label>
                    <select class="validate[required]" data-bind="options: optionValues, optionsText:'Title', value :selectedOptionValue"></select>
                </div>

                <div class="clear"></div>

                <div class="grid-12-12">
                    <label class="forms-lbl">Note:</label>
                    <input id="Note" name="Note" class="forms-txt validate[required]" maxlength="100" />
                </div>               

            </div>

            <div class="grid-12-12">

                <ul style="margin-left:0px; margin-top :10px" class="uibutton-group">
                    <li><span class="etip"><button class="uibutton icon add normal" data-bind='click: save' title="Save Changes">Save Changes</button></span></li>
                    <li><span class="etip"><button class="uibutton normal " id="btnCloseTender" title="Close Dialog">Close</button></span></li>
                </ul>
            </div>
        </form>
    </div>

    <div style="width:35%;float:right; margin-left:5%;">

        <ul style="margin-left:0px; margin-top :1px" class="uibutton-group">
            <li><button data-bind="click: mykeyboard" class="uibutton normal large" type="button" style="width:100%">1</button></li>
            <li><button data-bind="click: mykeyboard" class="uibutton normal large" type="button" style="width:100%">2</button></li>
            <li><button data-bind="click: mykeyboard" class="uibutton normal large" type="button" style="width:100%">3</button></li>
            <li><button data-bind="click: mykeyboard" class="uibutton normal large" type="button" style="width:100%">4</button></li>
        </ul>

        <ul style="margin-left:0px; margin-top :1px" class="uibutton-group">
            <li><button data-bind="click: mykeyboard" class="uibutton normal large" type="button" style="width:100%">5</button></li>
            <li><button data-bind="click: mykeyboard" class="uibutton normal large" type="button" style="width:100%">6</button></li>
            <li><button data-bind="click: mykeyboard" class="uibutton normal large" type="button" style="width:100%">7</button></li>
            <li><button data-bind="click: mykeyboard" class="uibutton normal large" type="button" style="width:100%">8</button></li>
        </ul>

        <ul style="margin-left:0px; margin-top :1px" class="uibutton-group">
            <li><button data-bind="click: mykeyboard" class="uibutton normal large" type="button" style="width:100%">9</button></li>
            <li><button data-bind="click: mykeyboard" class="uibutton normal large" type="button" style="width:100%">0</button></li>
        </ul>

        <ul style="margin-left:0px; margin-top :1px" class="uibutton-group">
            <li><button value="11" data-bind="click: mykeyboard" class="uibutton icon prev normal " type="button" style="width:100%">Back space</button></li>
            <li><button value="12" data-bind="click: clear" class="uibutton normal" type="button" style="width:100%">Clear</button></li>
        </ul>

    </div>
</div>
