
@using Suftnet.Cos.Extension
@using Suftnet.Cos.Common

<div class="card card-dash-headline">
    <h4>Introducing the responsive admin dashboard template made with Bootstrap 4</h4>
    <p>Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus...</p>
    <div class="row row-sm centered">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
            <a href="@Url.Action("entry","Plan", new { area = "Subscription" })" class="btn btn-primary btn-block center">Start Subscription</a>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
        </div>
    </div><!-- row -->
</div><!-- card -->