<div class="card card-dash-headline">
    <h4>Thanks for trying Jerur app. Your trial has expired.</h4>
    <p>We hope you are happy with our services and may want to continue with it. To continue, click the Start Subscription button to subscribe to one of our affortable plans. However, if you are no longer interested, you are free to download your church data and do nothing. You data will be kept for the next 30 days before deleted. Thanks</p>
    <div class="row row-sm centered">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
            <a href="@Url.Action("entry","Plan", new { area = "Subscription" })" class="btn btn-primary btn-block center">Start Subscription</a>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2">
        </div>
    </div><!-- row -->
</div><!-- card -->