@{
    ViewBag.Title = "SUFTNET | DISCOUNT "; 
}

<ul style="margin-left:0px; margin-top :5px" class="uibutton-group">
    <li><span class="etip"><a href="@Url.Action("Index", "Menu")" class="uibutton icon prev normal"  title="Back">Back</a></span></li>
</ul>

<div class="widgets" style="display:none ">

    <div class="twoOne">
        <div class="widget">
            <div class="header"><span><span class="ico  gray random"></span>Discount </span></div>
            <div class="content">
                <div class="tableName">
                    @Html.Partial("_load")
                </div>
            </div>
        </div>
    </div>

    <div class="oneThree">
        <div class="widget">
            <div class="header"><span><span class="ico gray window"></span></span></div>
            <div class="content">
                @Html.Partial("_form")
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $(function () {

        setTimeout(function () {
            $(".widgets").show();
        }, 0);

    });
</script>






