@using Suftnet.Cos.Extension

<div id="header">
    <div id="account_info">

        <div class="" title="Welcome"><b>Welcome </b> <b class="red">@Url.CurrentUserName()</b></div>     

        <div class="logouts" title="Disconnect"><b><a href="@Url.LogOff()">Logout <img src="@Url.HeaderAsset("disconnect.png")" class="disconnect" alt="logout"></a></b></div>

    </div>
</div>




