@model Suftnet.Cos.ViewModel.ContactModel

<div class="container-fluid py-3 demo-blocks">
    <!-- ./Contact -->
    <section class="section block bg-contrast">
        <div class="container py-4">
            <div class="row gap-y">
                <div class="col-12 col-md-6">
                    <div class="section-heading">
                        <p class="text-uppercase">Contact us</p>
                        <h2 class="font-md bold">We'd like to hear from you</h2>
                    </div>
                    <p class="lead mb-5">Don't hesitate to get in contact with us no matter your request. We are here to help you.</p>
                    <ul class="list-unstyled list-icon">
                        <li>
                            <i class="fas fa-map-marker text-primary"></i>
                            <p>
                                The Gatehouse
                                453 Cranbrook Road, llford Essex IG2 6EW.
                            </p>
                        </li>
                        <li>
                            <i class="fas fa-phone text-primary"></i>
                            <p>(+44)-020 3286 2416</p>
                        </li>
                        <li>
                            <i class="fas fa-envelope text-primary"></i>
                            <p><a href="mailto:support@suftnet.com">support@suftnet.com</a></p>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    @if (Model.flag == 1)
                    {
                        <div class="section-heading">
                            <i class="fas fa-check font-lg"></i>
                            <p class="font-md m-0">Thank you!</p>
                            <p class="response">Your message has been send, we will contact you as soon as possible.</p>
                        </div>
                    }

                    <form action="@Url.Action("create","contact")" method="post" id="contact-form" class="form form-contact" name="form-contact" data-response-message-animation="slide-in-up">
                        <div class="form-group"><label for="contact_email" class="bold mb-0">Email address</label> <small id="emailHelp" class="form-text text-secondary mt-0 mb-2 italic">We'll never share your email with anyone else.</small> <input type="email" name="Email" id="Email" class="form-control bg-contrast" placeholder="Valid Email" maxlength="50" required></div>
                        <div class="form-group"><label for="contact_email" class="bold">Subject</label> <input type="text" name="Subject" id="Subject" class="form-control bg-contrast" placeholder="Subject" maxlength="50" required></div>
                        <div class="form-group"><label for="contact_email" class="bold">Message</label> <textarea name="Message" id="Message" class="form-control bg-contrast" placeholder="What do you want to let us know?" rows="8" maxlength="200" required></textarea></div>
                        <div class="form-group"><button data-loading-text="Sending..." name="submit" type="submit" class="btn btn-primary btn-rounded">Send Message</button></div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>