
<header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('../img/bg/waves.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4 text-contrast mb-4">Contact</h1>
                <p class="lead text-contrast">Including a Contact Form? Try out one of the variations we bring you.</p>
            </div>
        </div>
    </div>
</header>