@using Suftnet.Cos.Extension

<header class="page header text-contrast overlay gradient gradient-purple-blue alpha-8 image-background cover" style="background-image: url('@Url.FrontOfficeImagePath("img/bg/waves.jpg")')">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4 text-contrast mb-4">FAQ&#39;s</h1>
                <p class="lead text-contrast">Help users to discover and answer their questions in an easy way</p>
            </div>
        </div>
    </div>
</header>