
<ul class="tabs">
    <li><a href="#tab1">Location </a></li>
    <li><a href="#tab2">Form </a></li>
</ul>

<div class="tab_container">
    <div id="tab1" class="tab_content" style="padding-left: 10px; padding-right: 10px">

        <div class="widget">
            <div class="header"><span><a href="javascript:void(0)"><span class="ico gray" title="View Orders"></span></a></span></div>
            <div class="content">
                @Html.Partial("_locationPicker")
            </div>
        </div>
      
    </div>
    <div id="tab2" class="tab_content" style="padding-left:10px;padding-right:10px">

        <div class="widget">
            <div class="header"><span><a href="javascript:void(0)"><span class="ico gray add " title="Modify or Add New Order"></span></a></span></div>
            <div class="content">
                @Html.Partial("_form")
            </div>
        </div>      
    </div>
</div>







