<table id="tblDelivery" class="display" style="width:100%">
    <thead>
        <tr>
            <th align="left"></th>
            <th align="left">CreatedAt</th>           
            <th align="left">Names</th>
            <th align="left">Mobile</th>
            <th align="left">Status</th>
            <th align="left">Total</th>
            <th align="left">Tax</th>
            <th align="left">Discount</th>
            <th align="left">Paid </th>
            <th align="left">Grand Total </th>
            <th align="left">Balance </th>
            <th class="align-center">Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="hide">
    <span id="loadUrl" name="loadUrl" data-loadUrl="@Url.Action("fetch", "delivery",  new { area = "frontOffice" })"></span>   
    <span id="cartUrl" name="cartUrl" data-cartUrl="@Url.Action("entry", "cart",  new { area = "frontOffice" })"></span>
    <span id="deleteUrl" name="deleteUrl" data-deleteUrl="@Url.Action("delete", "delivery",  new { area = "frontOffice" })"></span>
</div>




