
<div>

    <div class="forms">

        <div class="grid-12-12 ">
            <label class="forms-lbl">Pick Up:</label>
            <input type="text" name="pickUp" id="pickUp" class="forms-txt validate[required]" maxlength="200" />
        </div>

        <div class="grid-12-12 ">
            <label class="forms-lbl">Drop Off :</label>
            <input type="text" name="dropOff" id="dropOff" class="forms-txt validate[required]" maxlength="200" />
        </div>

        <div class="clear"></div>

        <div class="grid-6-12">
            <a class="uibutton normal" id="getRoute" name="getRoute" title="Calculate Distance">Route</a>
        </div>

        <div class="clear"></div>

        <div class="grid-6-12">
            <label class="forms-lbl">Distance (Meter): </label>
            <input type="text" name="edistance" id="edistance" readonly="readonly" class="forms-txt" />
        </div>

        <div class="grid-6-12">
            <label class="forms-lbl">Duration (Minute): </label>
            <input type="text" name="eduration" id="eduration" readonly="readonly" class="forms-txt" />
        </div>

        <div class="clear"></div>

        <ul style="margin-left:6px; margin-top :5px" class="display">
            <li class="display"><span class="etip"><a class="uibutton normal " id="btnContinue" title="Continue">Continue</a></span></li>
        </ul>


        <div id="dvMap" style="min-height:250px;margin-left:6px;"></div>
    </div>

</div>








