
@{
    ViewBag.Title = "SUFTNET | DELIVERY ORDER";
}

<div style="margin:20px">

    <ul style="margin-left:0px; margin-top :5px" class="uibutton-group">
        <li><span><a href="@Url.Action("index", "dashBoard", new { area = "frontoffice" })" class="uibutton icon prev etip" title="Back to Dashboard">Back</a></span></li>
        <li><span><a id="btnOpen" href="javascript:void(0)" class="uibutton icon add normal etip" title="Add New Delivery">Create</a></span></li>
    </ul>

    <div class="widgets">
        <div class="widget">
            <div class="header"><span><span class="ico  gray window" title="View Orders"></span>Deliveries</span></div>
            <div class="content">
                <div class="tableName">
                    @Html.Partial("_load")
                </div>
            </div>
        </div>
    </div>

    <div id="deliveryDialog" style="display :none">
        <div class="widgets">
            <div class="widget">
                @Html.Partial("_delivery")
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLWzmBndaY8g4MIuYIGq9eGZWOm3FEYzE&libraries=places"></script>
@Scripts.Render("~/bundle/20000")

<script type="text/javascript">

    $(function () {
        delivery.pageInit();
        locationPicker.pageInit();
    });

</script>







