@{
    ViewBag.Title = "SUFTNET | PERMISSIONS";    
}

<ul style="margin-left:2px; margin-top :5px" class="uibutton-group">
    <li><span class="etip"><a href="@Url.Action("Index","User")" class="uibutton icon prev normal" title="Back to User">Back</a></span></li>
</ul>

<div class="widgets" style="display:none">
    <div class="twoOne">
        <div class="widget">
            <div class="header"><span><span class="ico gray help2"></span>@ViewContext.RouteData.Values["name"].ToString()</span></div>
            <div class="content">
                <div class="tableName">
                  @Html.Partial("_load")
                </div>
            </div>
        </div>
    </div>
    <div class="oneThree">
        <div class="widget">
            <div class="header"><span><span class="ico gray help2"></span></span></div>
            <div class="content">
                @Html.Partial("_form")
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<script type="text/javascript">
    $(function () {

        permission.pageInit();

        setTimeout(function () {
            $(".widgets").show();
        }, 0);

    });
</script>