@{
    ViewBag.Title = "SUFTNET | LOG VIEWER ";  
}

<div class="widgets" style="display:none ">

    <div class="widget">

        <div class="header"><span><span class="ico  gray random"></span>Log Viewer</span></div>
        <div class="content">
            @Html.Partial("_Log")
        </div>
    </div>
</div>  


<script type="text/javascript" >
 
 $(function () {                
            
     setTimeout(function () {
         $(".widgets").show();
     }, 0);

    });
</script>



