@using Suftnet.Cos.Extension;

<div id="header">
    <div id="account_info">
        <div class="tooltip" title="Welcome"><b>Welcome </b> <b class="red">@Url.CurrentUserName()</b></div>      
        <div class="tooltip" title="Back Office"><a href="@Url.Action("index", "dashboard", new { area= "BackOffice" })">Back Office</a></div>
        <div class="Disconnect tooltip" title="Logout"><b><a href="@Url.LogoutHref()">Logout</a></b></div>
    </div>
</div>




 