<div class="widgets">
    <div class="widget">
        <div class="header"> <span><span class="ico gray window "></span></span></div>
        <div class="content" style="min-height:100px">

            <div class="forms">

                <div class="grid-12-12">
                    <label class="forms-lbl">Ip Address: </label>
                    <input id="IpAddress" name="IpAddress" class="forms-txt validate[required]" maxlength="50" />
                </div>

            </div>

            <div class="grid-12-12">
                <ul style="margin-left:0px; margin-top :2px" class="uibutton-group">
                    <li><span class="etip"><a class="uibutton normal" id="btnSaveSettings" title="Close">Save Changes</a></span></li>
                    <li><span class="etip"><a class="uibutton normal" id="btnTest" title="Close">Test Print</a></span></li>
                    <li><span class="etip"><a class="uibutton icon prev normal " id="btnCloseSettings" title="close ">Close</a></span></li>
                </ul>
            </div>
        </div>

    </div>
</div>   
