.cards-wrapper {
  margin-bottom: -30px; }

.card {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 300px;
  margin: 0px 0px 30px 0px;
  overflow: hidden;
  	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.13);
  position: relative;
  text-align: center; }
  .card.card-tall {
    height: 630px; }
  .card:before {
    background: -webkit-linear-gradient(top, rgba(54, 54, 54, 0) 0%, rgba(54, 54, 54, 0.7) 50%);
    background: linear-gradient(to bottom, rgba(54, 54, 54, 0) 0%, rgba(54, 54, 54, 0.7) 50%);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    transition: all ease .35s;
    width: 100%; }
  .card:after {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0px;
    content: '';
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1; }
  .card:hover:before {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
  .card:hover .card-content {
    padding-top: 0px; }
  .card:hover .card-meta {
    opacity: 1;
    height: 40px; }
  .card:hover .card-actions {
    opacity: 1; }

.card-background img {
  height: auto;
  width: 100%; }

.card-content {
  left: 50%;
  padding: 0px 30px;
  padding-top: 60px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transition: all ease .35s;
  width: 100%;
  z-index: 2; }
.card-content h2 {
 color: #fff;
 font-weight: 300;
 margin: 0px;
 margin-bottom: 5px; }
.card-content h2 a {
 color: #fff;
 text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
.card-content h2 a:hover
{
  text-decoration: none;
}      

.card-row {
  background-color: #fff;
  margin: 0px 20px 20px 0px;
  box-shadow: 0px 0px 16px 0px rgba(54, 54, 54, 0.1);
}
  .card-row:last-child {
    margin-bottom: 0px; }

.card-row-inner {
  display: table;
  width: 100%; }

.card-row-image, .card-row-body, .card-row-properties {
  display: table-cell;
  height: 100px;
  vertical-align: top; }
  @media (max-width: 1199px) {
    .card-row-image, .card-row-body, .card-row-properties {
      display: block; } }

.card-row-image {
  /*background-position: center center;
  background-repeat: no-repeat;*/
  /*background-size: cover;*/
  height: 10px;
  position: relative;
  width: 200px; }
  @media (max-width: 1199px) {
    .card-row-image {
      width: 100%; } }

.card-row-body {
  padding: 30px; }


.card-row-title {
  font-size: 18px;
  margin: 0px 0px 0px 0px;
  padding: 0px; }
  .card-row-title a {
    color: #363636; }

    .card-row-properties {
  /*padding: 30px 30px 30px 30px;*/
  width: 260px; 
  height :20px;
    }
  @media (max-width: 1199px) {
    .card-row-properties {
      /*padding: 0px 30px 30px 30px;*/
      width: 100%; } }


