<form action="#" method="post" id="form">

    <input type="hidden" id="ImageUrl" name="ImageUrl" />
    <input type="hidden" name="Id" value="" id="Id" />

    <div class="forms">

        @Html.AntiForgeryToken()

        <div class="grid-6-12">
            <label class="forms-lbl">FirstName: </label>
            <input type="text" name="FirstName" id="FirstName" class="forms-txt validate[required]" size="50" autocomplete="off" maxlength="50" />
        </div>

        <div class="grid-6-12">
            <label class="forms-lbl">LastName: </label>
            <input type="text" name="LastName" id="LastName" class="forms-txt validate[required]" size="50" maxlength="50" />
        </div>

        <div class="grid-6-12">
            <label class="forms-lbl">Email: </label>
            <input type="text" name="Email" id="Email" class="forms-txt validate[required]" size="50" maxlength="50" />
        </div>

        <div class="clear"></div>

        <div class="grid-6-12">
            <label class="forms-lbl">Area: </label>
            <select class="validate[required]" id="AreaId" name="AreaId" style="padding: 6px;">
                <option value="">-- SELECT --</option>
                <option code="1" value="2034">Back Office</option>
                <option code="1" value="5219">Front Office</option>
                <option code="1" value="6239">Delivery Office</option>
            </select>
        </div>

        <div class="grid-6-12">
            <label class="forms-lbl">Password: </label>
            <input type="password" name="Password" id="Password" class="forms-txt" size="20" maxlength="20" autocomplete="off" />
        </div>

        <div class="clear"></div>


        <div class="grid-6-12">
            <label class="forms-lbl">User Code: </label>
            <input type="text" name="UserCode" id="UserCode" class="forms-txt" size="20" maxlength="20" autocomplete="off" />
        </div>

        <div class="grid-12-12">
            <input name="Active" id="Active" type="checkbox" /> <label class="form-lbl">Active</label><br />
            <span id="__changePassword" class="hide"><input name="ChangePassword" id="ChangePassword" type="checkbox" value="true" /><label class="form-lbl">Change Password</label></span>
        </div>

        <div class="grid-12-12">
            <ul style="margin-left:0px; margin-top :0px" class="display01">
                <li class="display01"><span><a class="uibutton normal etip" id="btnSaveChanges" title="Save Changes"><i class="fa fa-save"></i> Save Changes</a></span></li>
                <li class="display01"><span><a class="uibutton normal etip" id="btnClose" title="Close"><i class="fa fa-close"></i> Close</a></span></li>
            </ul>
        </div>

    </div>
    
</form>








