<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://onechurch.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OneChurch</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$OneChurch</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbconnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=b0o6p8bxhu.database.windows.net,1433;Initial Catalog=OneChurch;Integrated Security=False;User ID=Kcmkcm@b0o6p8bxhu;Password=Aa123!!!;Connect Timeout=30;Encrypt=True" Name="Server=b0o6p8bxhu.database.windows.net,1433;Database=OneChurch;User ID=Kcmkcm@b0o6p8bxhu;Password=Aa123!!!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SuftnetDb.mdf;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbconnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\SuftnetDb.mdf;User Instance=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="dbconnectionStrings" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=b0o6p8bxhu.database.windows.net,1433;Initial Catalog=OneShop;Integrated Security=False;User ID=Kcmkcm@b0o6p8bxhu;Password=Aa123!!!;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbconnectionStrings_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=b0o6p8bxhu.database.windows.net,1433;Database=OneShop;User ID=Kcmkcm@b0o6p8bxhu;Password=Aa123!!!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbconnectionString-Web.config Connection String">
      <ParameterValue>Server=b0o6p8bxhu.database.windows.net,1433;Database=OneChurch;User ID=Kcmkcm@b0o6p8bxhu;Password=Aa123!!!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>