
@{
    ViewBag.Title = "SUFTNET | TABLES";
}

<div id="tableContainers">
            @Html.Partial("_table")
</div>

<div id="orderDialog" style="display :none">
    <div class="widget">
        <div class="header"><span><span class="ico  gray help2 tooltip"></span></span></div>
        <div class="content">
            @Html.Partial("_form")
        </div>
    </div>
</div>

<div class="hide">
    <span id="loadUrl" name="loadUrl" data-loadUrl="@Url.Action("fetch", "table", new { area = "frontOffice" })"></span>  
</div>

<script type="text/javascript">
    $(function () {
        tableOder.pageInit();
        setTimeout(function () {
        }, 0);
    });        
</script>





