<div class="forms" style="padding:10px;" > 

    <div class="grid-12-12">                
            <label class="forms-lbl">Address: </label>  
            <input type="text" name="CompleteAddress" id="CompleteAddress" class="forms-txt "  maxlength="200" />                          
    </div>   
    
    <div class="grid-6-12">
        <label class="forms-lbl">Town: </label>
        <input type="text" name="Town" id="Town" class="forms-txt" size="50" maxlength="50" required="" />
    </div> 
   
    <div class="grid-6-12">
        <label class="forms-lbl">County: </label>       
        <input type="text" name="County" id="County" class="forms-txt"  size="50" maxlength="50" required="" />    
    </div>   
      
    <div class="grid-6-12">                
        <label class="forms-lbl">Post Code: </label>  
        <input type="text" name="PostCode" id="PostCode" class="forms-txt" size="50"  maxlength="50" />                          
    </div> 

    <div class="grid-6-12">
        <label class="forms-lbl">Country: </label>
        <input type="text" name="Country" id="Country" class="forms-txt" size="50" maxlength="50" required="" />
    </div> 
    <div class="hide" id="map-item"></div>
</div>

@Scripts.Render("~/bundle/search")
@Html.Partial("_addressScript")

