<div class="forms" style="padding:10px;" > 

    <div class="grid-6-12">                
            <label class="forms-lbl">Account Name: </label>  
            <input type="text" name="AccountName" id="AccountName" class="forms-txt validate[custom[onlyLetterSp]]" maxlength="50" />                          
    </div>   
    
    <div class="grid-6-12">
        <label class="forms-lbl">Bank Name: </label>
        <input type="text" name="Bank" id="Bank" class="forms-txt validate[custom[onlyLetterSp]]"  maxlength="50" />
    </div>  

    <div class="grid-6-12">
        <label class="forms-lbl">Sort Code: </label>
        <input type="text" name="SortCode" id="SortCode" class="forms-txt validate[custom[number]]"  maxlength="10" />
    </div> 

    <div class="grid-6-12">
        <label class="forms-lbl">Account Number: </label>
        <input type="number" name="AccountNo" id="AccountNo" class="forms-txt validate[custom[onlyNumberSp]]"  maxlength="50" />
    </div>  

</div>

