
@using Suftnet.Cos.Common;
@using Suftnet.Cos.Extension;

<div class="forms" >                  
               
    <div class="grid-6-12">
        <label class="forms-lbl">Currency Symbol: </label>
        @Html.CurrencyDropdown("CurrencyId", "", (int)eSettings.Currency)
    </div>      
    
    <div class="grid-6-12">
        <label class="forms-lbl">GiftAid Percentage: </label>
        <input type="number" name="GiftAidPercentage" id="GiftAidPercentage" class="forms-txt validate[custom[number]]" maxlength="3" />
    </div>
        
</div>    


