
<div class="forms">     
  
    <div class="grid-6-12">
        <label class="forms-lbl">Title: </label>
        <input type="text" name="Title" id="Title" class="forms-txt validate[custom[onlyLetterSp]]"  maxlength="20" />
    </div>

    <div class="grid-6-12">
        <label class="forms-lbl">Role: </label>
        <input type="text" name="Role" id="Role" class="forms-txt validate[custom[onlyLetterSp]]" maxlength="20" />
    </div>

    <div class="grid-6-12">
        <label class="forms-lbl">FirstName:</label>
        <input type="text" name="FirstName" id="FirstName" class="forms-txt validate[custom[onlyLetterSp]]" maxlength="50" />
    </div>   

    <div class="grid-6-12">
        <label class="forms-lbl">LastName:</label>
        <input type="text" name="LastName" id="LastName" class="forms-txt validate[custom[onlyLetterSp]]" maxlength="250" />
    </div>       
   
    <div class="grid-12-12">
        <label class="forms-lbl">Photo :</label>
        <input type="file" name="file_upload2[]" id="file_upload2" />
    </div>           

 </div>   




