<div class="forms" style="padding:10px;" > 

    <div class="grid-12-12">                
        <label class="forms-lbl">SendGrid ClientId: </label>  
            <input type="text" name="SendGridClientId" id="SendGridClientId" class="forms-txt" maxlength="200" />                          
    </div>   
    
    <div class="grid-12-12">
        <label class="forms-lbl">SendGrid Secret: </label>
        <input type="text" name="SendGridSecret" id="SendGridSecret" class="forms-txt" maxlength="200" />
    </div>     

</div>

