<table id="tblMobilePermission" class="display" style="width:100%" >
    <thead>
        <tr>
            <th align="left">CreatedAt</th>
            <th align="left">Created By</th>
            <th align="left">Permission</th>
            <th class="align-center">Actions</th>
        </tr>
    </thead>
<tbody>
</tbody>
</table> 

<div class="hide"> 
    <span id="loadUrl" name="loadUrl" data-loadUrl="@Url.Action("fetch", "mobilePermission",new { Id = ViewContext.RouteData.Values["userString"].ToString() })"></span>  >
    <span id="editUrl" name="editUrl" data-editUrl="@Url.Action("edit", "mobilePermission", new { area = "admin" })"></span>
    <span id="createUrl" name="createUrl" data-createUrl="@Url.Action("create", "mobilePermission", new { area = "admin" })"></span>
    <span id="deleteUrl" name="deleteUrl" data-deleteUrl="@Url.Action("delete", "mobilePermission", new { area = "admin" })"></span>
</div>




