<form action="@Url.Action("ResetPassword", "User")" method="post" id="formResetPassword">

    <div class="forms">

        <input type="hidden" name="Id" id="Id" />

        <div class="grid-12-12">
            <label class="forms-lbl">New Password: </label>
            <input type="text" name="Password" id="Password" class="forms-txt validate[required],maxSize[20],minSize[6]]" size="40" maxlength="20" />
        </div>

    </div>

    <ul style="margin-left:5px; margin-top :5px" class="uibutton-group">
        <li><span class="etip"><a class="uibutton icon add normal " id="btnSaveResetPassword" title="Save Changes">Save Changes</a></span></li>
        <li><span class="etip"><a class="uibutton icon prev normal" id="btnCloseResetPassword" title="">Close</a></span></li>
    </ul>

</form>

