@{
    ViewBag.Title = "SUFTNET | USER ";
}

<div class="widgets" style="display:none">
    <div class="widget">
        <div class="header"><span><span class="ico gray help2 tooltip"></span>Users</span></div>
        <div class="content">
            @Html.Partial("_load")
        </div>
    </div>
</div>

<div id="resetPasswordDialog" style="display:none">
    <div class="widget">
        <div class="header"><span><span class="ico  gray window"></span></span></div>
        <div class="content">
            @Html.Partial("_resetPassword")
        </div>
    </div>    
</div>

<div id="editUserDialog" style="display:none">
    <div class="widget">
        <div class="header"><span><span class="ico  gray window"></span></span></div>
        <div class="content">
            @Html.Partial("_editUser")
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        user.pageInit();

        setTimeout(function () {
            $(".widgets").show();
        }, 0);
    });
</script>      








