@using Suftnet.Cos.Extension

<form action="@Url.Action("create", "reservation")" method="post" id="form">

    @Html.AntiForgeryToken()

    <div class="forms">

        <input type="hidden" name="Id" id="Id" value="c7a037e8-3045-4996-9e02-1794e08622c6" />

        <div class="grid-6-12 ">
            <label class="forms-lbl">FirstName:</label>
            <input type="text" name="FirstName" id="FirstName" class="forms-txt validate[required]" maxlength="50" />
        </div>

        <div class="grid-6-12 ">
            <label class="forms-lbl">LastName :</label>
            <input type="text" name="LastName" id="LastName" class="forms-txt validate[required]" maxlength="50" />
        </div>

        <div class="grid-6-12 ">
            <label class="forms-lbl">Email:</label>
            <input type="text" name="Email" id="Email" class="forms-txt validate[required]" maxlength="50" />
        </div>

        <div class="grid-6-12 ">
            <label class="forms-lbl">Mobile:</label>
            <input type="text" name="Mobile" id="Mobile" class="forms-txt validate[required]" maxlength="50" />
        </div>

        <div class="grid-6-12">
            <label class="forms-lbl">Table For:</label>
            <input type="text" name="ExpectedGuest" id="ExpectedGuest" onkeyup="numonly(this);" class="forms-txt validate[required]" maxlength="9" />
        </div>

        <div class="grid-6-12">
            <label class="forms-lbl">Table: </label>
            @Html.TableDropdown("TableId", "validate[required]")
        </div>

        <div class="grid-6-12">
            <label class="forms-lbl">Arrival Time: </label>
            <input type="text" name="Time" id="Time" readonly="readonly" class="forms-txt-date validate[required]" maxlength="9" />
        </div>

        <div class="grid-6-12">
            <label class="forms-lbl">Start Date:</label>
            <input type="text" name="StartDt" id="StartDt" readonly="readonly" class="forms-txt-date validate[required]" maxlength="9" />
        </div>

        <div class="grid-12-12">
            <label class="form-lbl">Note :</label>
            <div style="margin:5px;"></div>
            <textarea id="Note" name="Note" style="max-height:100px;" rows="" cols="" maxlength="500" class="form-txt"></textarea>
        </div>

        <div class="grid-6-12">
            <label class="forms-lbl">Status: </label>
            <select class="validate[required]" id="StatusId" name="StatusId" style="padding: 6px;">
                <option value="">-- SELECT --</option>               
                <option value="54f834f8-8f7b-42c0-8331-e1fe5ae50c83">Reserve</option>    
                <option value="dcdc8a0d-e38a-43b5-8091-f167b001f0b5">Pending</option>
                <option value="58ee00d9-d449-4ebf-b4e8-769f51fe7efe">Cancel</option>
            </select>
        </div>
        <div class="clear"></div>

        <div class="grid-6-12">
            <ul style="margin-left:0px; margin-top :5px" class="uibutton-group">
                <li><span class="etip"><a class="uibutton normal " id="btnSubmit" title="Save Changes">Save Changes</a></span></li>
                <li><span class="etip"><a class="uibutton normal " id="btnClose" title="Close">Close</a></span></li>
            </ul>
        </div>

    </div>
</form>







