
@using Suftnet.Cos.Common;
@using Suftnet.Cos.Extension;

<div class="forms" >                   
   
    <div class="grid-6-12">          
    <label class="forms-lbl">Currency Symbol: </label>
        @Html.CurrencyDropdown("CurrencyId", "", (int)eSettings.Currency)      
    </div>         
   
  
</div>    

