@model Suftnet.Cos.DataAccess.TenantDto

<div class="forms" style="padding:10px;" > 
         
    <div class="grid-12-12">
        <label class="forms-lbl">Request Message: </label>     
        <textarea id="RequestMessage" name="RequestMessage" style="height: 50px;" onkeypress="return imposeMaxLength(event, this, 2000);" class="">@Model.RequestMessage</textarea>
    </div>

    <div class="grid-12-12">
        <label class="forms-lbl">Response Message: </label>     
        <textarea id="ResponseMessage" name="ResponseMessage" style="height: 50px;" onkeypress="return imposeMaxLength(event, this, 2000);" class="">@Model.ResponseMessage</textarea>
    </div>         

</div>



