@using System.Web.UI.WebControls;
@using Stimulsoft.Report.Mvc;

@{
    ViewBag.Title = "SUFTNET  | REPORTS";
}

<div id="MainCollapsible" style="display:none ">
    <h6><a href="#">Report</a></h6>
    <div>

        <div class="widget">
            <div class="header"><span><span class="ico  gray random"></span>Filter</span></div>
            <div class="content">
                @Html.Partial("_Search")
            </div>
        </div>

    </div>

    <h6><a href="#">Report Viewer</a></h6>
    <div>

        @Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
   {
       Theme = StiTheme.Windows7,
       ActionGetReportSnapshot = "GetSalesReport",
       ActionViewerEvent = "ViewerEvent",
       ActionPrintReport = "PrintReport",
       ActionExportReport = "ExportReport",
       ActionInteraction = "Interaction",
       Width = Unit.Percentage(100)

   })

    </div>

</div>

<script type="text/javascript">

    $(function () {

        setTimeout(function () {
            $("#MainCollapsible").show();
        }, 0);

    var _Opt = {
        active: false,
        collapsible: false,
        autoHeight: false,
        animated: "bounceslide"
    };

    $("#MainCollapsible").accordion(_Opt);
    $("#MainCollapsible").accordion("activate", 1);

});

</script>  