
/* Little CSS Reset to preserv forms structure */
.forms * {padding:0;	margin:0;	list-style: none;	border: none; font-size:100%;}
.ui-datepicker{ z-index: 9999 !important;}

/* forms Structure */
.forms fieldset {position: relative;height:100%;}


/* Field Grid */
.grid-1-12, .grid-2-12, .grid-3-12, .grid-4-12, .grid-5-12, .grid-6-12, .grid-7-12, .grid-8-12, .grid-9-12, .grid-10-12, .grid-11-12, .grid-12-12 {
display:inline; float:left; margin-left:1%; margin-right:1%;padding: 0.5% 0.5% 0.8%;height:100%;
/*ie7*/
*margin-left:.8%; *margin-right:.8%;*padding: 0.5% 0.25% 0.8%;
}

/* 12-column Grid (thanks for Fluid 960 Grid System) */
.grid-1-12 {width: 5.333%;}
.grid-2-12 {width: 13.666%;}
.grid-3-12 {width: 22%;}
.grid-4-12 {width: 30.333%;}
.grid-5-12 {width: 38.666%;}
.grid-6-12 {width: 47%;}
.grid-7-12 {width: 55.333%;}
.grid-8-12 {width: 63.666%;}
.grid-9-12 {width: 72%;}
.grid-10-12 {width: 80.333%;}
.grid-11-12 {width: 88.666%;}
.grid-12-12 {width: 97%;}

/* first item */ .alpha {margin-left:0;}
/* last item */ .omega {margin-right:0;}
/* clear */ .field-clear {clear:both;}

/* forms elements  */
.forms input, .forms label, .forms img, .forms select {vertical-align: middle; line-height: 1em;}
.forms-lbl {display: block; height: auto; margin: 0.5em 0 0.8em;}
.forms-list-chk .forms-lbl, .forms-list-rdo .forms-lbl {display:inline; height: auto; margin: 0.5em 0 0.8em 2px;}
.forms-req {position: relative;top:3px;}
/*.forms-container { border:1px solid; display: block; clear:both; overflow: hidden;}*/
.forms-msg-info, .forms-msg-warning, .forms-msg-error, .forms-msg-success {padding:6px 10px 5px; display: block;height: auto; margin: -0.3em 0 0.5em;}
/*.forms .forms-txt, .forms textarea {	margin: 0.3%;	background: transparent;	width: 99.4%;}*/
.forms .forms-txt, .forms textarea, .forms select {width: 100%; padding:5px;border: 1px solid #999;  box-sizing: border-box;  -moz-box-sizing: border-box; -ms-box-sizing: border-box;-webkit-box-sizing: border-box; -khtml-box-sizing: border-box;
                                            
/*ie7*/
*width: 99%;
}

.forms .forms-date-txt {
    width: 100%;
    border-style: solid;
    border-width: 1px; 
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    /*ie7*/
    * width: 99%;
}

.forms .forms-txt-error { width: 100%; border-style: solid; border-width: 1px; border-color: #CC3300; padding: 5px; box-sizing: border-box;  -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -khtml-box-sizing: border-box;
/*ie7*/
* width: 99%;
 }
.forms .forms-txt-date {width: 73%; padding:5px;border: 1px solid #999; box-sizing: border-box;  -moz-box-sizing: border-box; -ms-box-sizing: border-box;-webkit-box-sizing: border-box; -khtml-box-sizing: border-box;
}
.forms textarea {	height: 10em;}
.forms select {padding:4px;}

/* forms button  */
.forms-button {padding:10px;cursor: pointer;text-align: center;float:left;margin-left: 0.3em;display:inline;
/*ie7*/

}
.forms-no-lbl {padding-top:35px;}

/* input with readonly attribute */
.forms-readonly, input[readonly] {border:none; font-weight: normal;padding-left:0;}

/* multiple containers inside field-grid */
.forms-left {float:left; margin-right:0.3em;clear:none;}
.forms-right {float:right; margin-left:0.3em;clear:none;}


/* lista de chk e rdo */
.forms-list-chk, .forms-list-rdo {height: 100%;}
.forms-list-chk li, .forms-list-rdo li {margin: 0.5em 0.6em 0.2em; float:left; display: inline; list-style:none;}
.forms-list-chk input, .forms-list-rdo li input {margin-right: 0.2em}

/* tamanhos dos campos */
.forms-small {width: 30% !important;float:left;margin-right: 10px;display:inline;
/*ie7*/
*width: 25% !important;
}
/* tamanhos dos campos */
.forms-smalls {width: 30% !important;float:left;margin-right: 10px;display:inline;
/*ie7*/
*width: 40% !important;
}
/* tamanhos dos campos */
.forms-small-custom {width: 100% !important;float:left;margin-right: 10px;display:inline;
/*ie7*/
*width: 40% !important;
}

.forms-small-custom-error { width: 100% !important; border-style: solid; border-width: 1px; border-color: #CC3300; float:left; margin-right: 10px; display:inline;
/*ie7*/
* width: 40% !important;
 }

.forms-medium {width: 50% !important;float:left;margin-right: 10px;display:inline;
/*ie7*/
*width: 45% !important;
}

.forms-date {width: 80px !important;float:left;margin-right: 10px;display:inline;}
.forms-time {width: 60px !important;float:left;margin-right: 10px;display:inline;}
.forms-date-day, .forms-date-year {width: 40px !important;float:left;margin-right: 10px;display:inline;}
.forms-date-month {width: 60px !important;float:left;margin-right: 10px;display:inline;}

.grid-12-12 ul.display01  {width: 97%;}

/* fix  ff bugs */
 div.forms:after, .forms.ul:after {content:".";display:block;clear:both;visibility:hidden;height:0;overflow:hidden;}

 /* BUTTON */

.forms .uibutton {
	position: relative;
	z-index: 1;
	overflow: visible;
	display: inline-block;
	padding: 5px 12px 6px 12px;
	margin: 10px 3px 10px 0; 
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	outline: none;
	border: 1px solid #69a44d;
	text-shadow:0 1px 0 #000000;
	color: #ffffff;
	background-position:0 -1px;
	background-color:#9bc652;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition: all .2s ease-out;
	-moz-transition:all.2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all.2s ease-out;
	font-weight: bold;
	font-size: 11px;
	text-transform: capitalize;
	margin-top: -1px;
}
.forms .uibutton:hover, .uibutton:focus, .uibutton:active {
	background-image: url(../images/ui-lgreen.jpg);
	background-position:0 59px;
	color: #ffffff;
	text-shadow:0 1px 0 #000000;
	-webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
}
.forms .uibutton:active {
/*	border-color: #5b7217;
	background: #b4cf1f;*/
	color: #ffffff;
	filter: none;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #9cb611;
	-webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #9cb611;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #9cb611;
	cursor:pointer;
}

/* overrides extra padding on button elements in Firefox */
.forms .uibutton::-moz-focus-inner {
 padding: 0;
 border: 0;
}
/*Icons */

.forms .uibutton.icon:before {
	content: "";
	position: relative;
	top: 2px;
	float:left;
	width: 14px;
	height: 12px;
	margin: 0 5px 0 0;
	background: url(../images/fb-icons.png) 99px 99px no-repeat;
}
.forms .uibutton.edit:before {
	background-position: 0 -1px;
}
.forms .uibutton.normal {
	color: #333;
	background-color: #f4f4f4;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#f4f4f4));
	background-image: -moz-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: -o-linear-gradient(#f4f4f4, #f4f4f4);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#f4f4f4'); /* for IE 6 - 9 */
 	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2;
	text-shadow:none;
	border: 1px solid #aaaaaa;
	border-bottom-color: #aaaaaa;
}
.forms .uibutton.normal:hover {
	color: #666;
	background-color: #999;
	-webkit-box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eeeeee;
	-moz-box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eeeeee;
	box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eeeeee;
	text-shadow:none;
}
.forms .uibutton.normal:active {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #cccccc;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #cccccc;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #cccccc;
}
.forms .uibutton.add:before {
	background-position: -14px -1px;
}
.forms .uibutton.secure:before {
	background-position: -28px 0px;
	top: 0px;
}
.uibutton.prev:before {
	background-position: -38px -1px;
}
.forms .uibutton.next:before {
	float:right;
	margin: -1px -0.25em 0 0.5em;
	background-position: -50px 0;
}
.forms .uibutton.forward:before {
	background-position: -61px 0;
	margin-top: -1px;
}
.forms .uibutton.answer:before {
	background-position: -78px 0;
	margin-top: -2px;
}
/* BUTTON EXTENSIONS */

/* Large */

.forms .uibutton.large {
	font-size: 13px;
	text-transform: uppercase;
	padding-left:25px;
	padding-right:25px;
}
/* Submit, etc */

.forms .uibutton.confirm {
	border-color: #73b4ce ;	
	background-color: #c2e3f0;
	text-shadow:0 1px 0 #ffffff;
	color: #666666;

	background-image:none;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}
.forms .uibutton.confirm:hover ,.uibutton.confirm:focus, .uibutton.confirm:active{
	border-color: #73b4ce;
	color: #333333;
	-webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
	background-color: #a9daed;

}
.forms .uibutton.confirm:active {
	border-color: #73b4ce;
	color: #666666;
	background-color: #a9daed;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #84c5de;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #84c5de;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #84c5de;
}

/*  Special */

.forms .uibutton.CheckIn {
	border-color:Orange
	text-shadow:0 1px 0 #000000;
	color: #fff;
	background-color:Orange
}

.forms .uibutton.CheckedOut {
	border-color:Gray;
	text-shadow:0 1px 0 #000000;
	color: #fff;
	background-color:Gray
}

.forms .uibutton.special {
	border-color: #a93a25;
	text-shadow:0 1px 0 #000000;
	color: #fff;
	background-color:#d74543;
}
.forms .uibutton.special:hover, .uibutton.special:active {
	background-image: url(../images/ui-red.jpg);
	background-position:0 59px;
	color: #fff;
	-webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
}
.forms .uibutton.special:active {
	background-image: url(../images/ui-red.jpg);
	background-position:0 59px;
	filter: none;
	color:#efefef;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #aa3a35;
}
/*Disable */

.forms .uibutton.disable {
	z-index: 0;
	border-color: #c8c8c8;
	color: #b8b8b8;
	background: #f2f2f2;
	cursor: default;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow:none;
}
.forms .uibutton.disable:hover {
	border-color: #c8c8c8;
	background:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow:none;
	color:#b8b8b8;
}
.forms .uibutton.disable.icon:before, .uibutton.disable.icon:after {
	opacity: 0.5;
}
/* BUTTON GROUPS */

.forms .uibutton-group {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	/* IE hacks */
    zoom: 1;
 *display: inline;
}
.forms .uibutton + .uibutton, .uibutton + .uibutton-group, .uibutton-group + .uibutton, .uibutton-group + .uibutton-group {
/*	margin-left: 3px;*/
}
.forms .uibutton-group li {
	float: left;
	padding: 0;
	margin: 0;
}
.forms .uibutton-group li.end {
	margin-left:0px;
}
.forms .uibutton-group .uibutton {
	float: left;
	margin-left: -4px;
}
.forms .uibutton-group .uibutton:hover, .uibutton-group .uibutton:focus, .uibutton-group .uibutton:active {
	/*z-index:2;*/
}
.forms .uibutton-group > .uibutton:first-child, .uibutton-group li:first-child .uibutton {
	margin-left: 0;
}
/*  BUTTON CONTAINER */
/* For mixing buttons and button groups, e.g., in a navigation bar */

.forms .uibutton-toolbar {
	padding: 6px;
	border-top: 1px solid #ccc;
	background: #f2f2f2;
}
.forms .uibutton-toolbar .uibutton, .uibutton-toolbar .uibutton-group {
	vertical-align: bottom;
}
.externalAddress {

}



