.table { 
  width: 100%;   
  border-collapse: collapse; 
}
/* Zebra striping */
.table tr:nth-of-type(odd) { 
  background: #eee; 
}
.table th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
.table td, th { 
  padding: 6px;  
  text-align: left; 
}

a .ordertable {
}

.ordertable { 
  width: 98%;   
  border-collapse: collapse; 
}
/* Zebra striping */
.ordertable tr:nth-of-type(odd) { 
  background: #eee; 
}
.ordertable th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
.ordertable td, th { 
  padding: 6px;  
  text-align: left; 
}

