
<div class="forms">
     
    <div class="grid-6-12">
        <label class="forms-lbl">Distance Unit: </label>
        <select class="" id="DeliveryUnitId" name="DeliveryUnitId" style="padding: 6px;">
            <option value="">-- SELECT --</option>
            <option value="2663">Kilometer</option>
            <option value="2664">Miles</option>            
        </select>
    </div>

    <div class="grid-6-12">
        <label class="forms-lbl">Rate / Unit: </label>
        <input type="number" name="DeliveryRate" id="DeliveryRate" class="forms-txt" maxlength="9" />
    </div>

    <div class="clear"></div>

    <div class="grid-6-12">
        <input name="IsFlatRate" id="IsFlatRate" type="checkbox" /> <label class="form-lbl">Flat Rate</label>
        <div style="margin:5px;"></div>
        <input type="number" name="FlatRate" id="FlatRate" class="forms-txt" maxlength="9" />
    </div>

    <div class="grid-12-12">
        <label class="forms-lbl">Note:</label>
        <input type="text" name="DeliveryLimitNote" id="DeliveryLimitNote" class="forms-txt" maxlength="250" />
    </div>

</div>    


