
<div class="forms">

    <div class="grid-6-12">
        <label class="forms-lbl">Tax Rate: </label>
        <input type="number" name="TaxRate" id="TaxRate" class="forms-txt" maxlength="9" />
    </div>

    <div class="grid-6-12">
        <label class="forms-lbl">Discount Rate: </label>
        <input type="number" name="DiscountRate" id="DiscountRate" class="forms-txt" maxlength="9" />
    </div>

    <div class="grid-12-12">
        <label class="forms-lbl">Delivery Cost: </label>
        <input type="number" name="DeliveryCost" id="DeliveryCost" class="forms-txt" maxlength="9" />
    </div>    

</div>    


