<div class="forms">
    <div class="grid-12-12">
        <label class="forms-lbl">Restaurant Name: </label>
        <input type="text" name="Name" id="Name" class="forms-txt validate[required,custom[onlyLetterSp]]" maxlength="50" />
    </div>
   
    <div class="clear"></div>

    <div class="grid-6-12">
        <label class="forms-lbl">Telephone: </label>
        <input type="text" name="Telephone" id="Telephone" class="forms-txt" maxlength="20" />
    </div>

    <div class="grid-6-12">
        <label class="forms-lbl">Mobile: </label>
        <input type="text" name="Mobile" id="Mobile" class="forms-txt" maxlength="20" />
    </div>

    <div class="grid-6-12">
        <label class="forms-lbl">Email Address:</label>
        <input type="text" name="Email" id="Email" class="forms-txt validate[required,custom[email]]" maxlength="50" />
    </div>

    <div class="grid-12-12">
        <label class="forms-lbl">WebSite Address:</label>
        <input type="text" name="WebsiteUrl" id="WebsiteUrl" class="forms-txt" maxlength="250" />
    </div>
       
    <div class="grid-12-12">
        <label class="forms-lbl">Logo :</label>
        <input type="file" name="file_upload1[]" id="file_upload1" />
    </div>

    <div class="grid-12-12">
        <label class="forms-lbl">Background :</label>
        <input type="file" name="file_upload3[]" id="file_upload3" />
    </div>

</div>   

<div class="hide">
    <span id="buttonText" name="buttonText">Add Image</span>
    <span id="photoUrl" name="photoUrl" data-photoUrl="@Url.Content("~/Content/Photo/Blank.jpg")">Add File</span>
</div>



