<div class="hide">
    <span id="settingsUrl" name="settingsUrl" data-settingsUrl="@Url.Action("OverView", "Settings")"></span>
</div>

@Scripts.Render("~/bundle/baze")

@*@Html.Partial("_starterMessage")*@

<script type="text/javascript">

    $(function ()
    {
        setting.init();

        suftnet_upload.init1('@Url.Action("UploadLogo", "Settings")');
        suftnet_upload.init3('@Url.Action("UploadBackground", "Settings")');

        setTimeout(function () {
            $("#settingsContanier").show();
        }, 0);

    });

</script>
