
@using Suftnet.Cos.Extension
@using Suftnet.Cos.Common

@{
    var termsConditions = Url.Cms(CmsType.TermsofService);
    var privacyPolicy = Url.Cms(CmsType.PrivacyPolicy);
}

<!-- Modal terms -->
<div class="modal fade" id="termsconditions" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="termsLabel">Terms and conditions</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(termsConditions.Contents)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal info -->
<div class="modal fade" id="privacypolicy" tabindex="-1" role="dialog" aria-labelledby="more-infoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="more-infoLabel">Privacy Policy</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(privacyPolicy.Contents)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="validationError" tabindex="-1" role="dialog" aria-labelledby="more-infoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="more-infoLabel">Validation Errors</h4>
            </div>
            <div class="modal-body">
                <p>
                    You check out cannot be process right now, please click the back button to move backward and correct the errors listed below and try submitting again. Thanks
                </p>
                <div id="errorList"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
   
</div>
<!-- /.modal -->

<div class="modal fade" id="more-info" tabindex="-1" role="dialog" aria-labelledby="more-infoLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="more-infoLabel">Help Tips</h4>
            </div>
            <div class="modal-body">
                <b>Account</b>
                <p>
                    Fill in your account details, by entrying your Restaurant name, entry your email address and
                    mobile number.<br />Continue  to enter your password and confirmation password, password must be 8 character in lenght and must contain at least one letter, number and any special character. Click the forward button when you are
                    done.
                </p>               
                <b>Address</b>
                <p>
                    Enter your church Restaurant and the post code(optional). When you are done, click the submit button to start the process of setting up
                    your account with Jerur.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="more-info-pay" tabindex="-1" role="dialog" aria-labelledby="more-infoLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="more-infoLabel">Help Tips</h4>
            </div>
            <div class="modal-body">
                <b>Account</b>
                <p>
                    Fill in your account details by entrying your Restaurant name, entry your email address and
                    mobile number.<br /> Continue  to enter your password and confirmation password, password must be 8 character in lenght and must contain at least one letter, number and any special character. Click the forward button when you are
                    done.
                </p>               
                <b>Address</b>
                <p>
                    Enter your Restaurant address and the post code(optional). Click the forward button when you are
                    done.
                </p>

                <b>Payment</b>
                <p>
                    Enter your payment card details. When you are done, click the submit button to start the process of setting up
                    your account with Jerur. <br /> Please Note : Your payment is process by stripe, meaning none of your card data is store on our
                    server rather secure in Stripe.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn_1" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>