<div class="hide">
    <span id="backOfficeDashboardUrl" name="backOfficeDashboardUrl" data-backOfficeDashboardUrl="@Url.Action("overView", "dashboard", new { area ="backOffice" })"></span>
</div>

<script type="text/javascript">

    $(function () {
        backOffice_dashboard.init();
    });

</script>