@using Suftnet.Cos.Extension;

<form action="@Url.Action("create", "User", new { area = "Admin" })" method="post" id="form">

    <input type="hidden" id="ImageUrl" name="ImageUrl" />
    <input type="hidden" name="UserId" value="" id="UserId" />

    <div class="forms">

        <div class="grid-6-12">
            <label class="forms-lbl">FirstName: </label>
            <input type="text" name="FirstName" id="FirstName" class="forms-txt validate[required]" size="50" autocomplete="off" maxlength="50" />
        </div>

        <div class="grid-6-12">
            <label class="forms-lbl">LastName: </label>
            <input type="text" name="LastName" id="LastName" class="forms-txt validate[required]" size="50" maxlength="50" />
        </div>

        <div class="grid-6-12">
            <label class="forms-lbl">Email: </label>
            <input type="text" name="Email" id="Email" class="forms-txt validate[required]" size="50" maxlength="50" />
        </div>

        <div class="grid-6-12">
            <label class="forms-lbl">Area: </label>
            @Html.AdminAreaDropdown("AreaId", "validate[required]")
        </div>

        <div class="grid-12-12">
            <input name="Active" id="Active" type="checkbox" /> <label class="form-lbl">Active</label>
        </div>

        <div class="grid-12-12">
        </div>

    </div>
    <div class="grid-12-12">
        <ul style="margin-left:0px; margin-top :0px" class="display01 uibutton-group">
            <li class="display01"><span class="etip"><a class="uibutton normal" id="btnSaveChanges" title="Save Changes">Save Changes</a></span></li>
            <li class="display01"><span class="etip"><a class="uibutton icon prev normal " id="btnClose" title="Close">Close</a></span></li>
        </ul>
    </div>
</form>








